<!DOCTYPE html>
  <html lang="en">
  {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Suyash Phatak">
        <title>Staff Login</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            body{
              background-repeat: no-repeat;
              background-size: cover;
              background-image: url("{% static 'images/gallery-4.jpg' %}");
              height: auto;
            }

            input{
                background-color: cornsilk;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home'%}">Homepage</a>
                </div>
            </nav>
        </div>

        <div class="container text-center" style="margin:auto;margin-top:50px;">
            <h1 class="display-4" style="padding:20px;margin-bottom:10px;color:cornsilk;font-weight: bold;webkit-backdrop-filter: blur(3px);backdrop-filter: blur(3px);text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
                Staff Login
            </h1>

            <form action="{% url 'authenticate' %}" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3" style="width:30%;margin:auto;">
                    <input type="text" class="form-control" id="floatingInput" name="username" aria-describedby="username"  placeholder="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating" style="width:30%;margin:auto;">
                    <input type="password" class="form-control" id="floatingPassword" name="password" aria-describedby="password" placeholder="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div style="width:30%;margin:auto;margin-top:10px;">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
                <div style="width:30%;margin:auto;">
                    {% for msg in messages %}
                        <p style="padding:20px;margin-top:10px;color:red;font-weight: bold;webkit-backdrop-filter: blur(3px);backdrop-filter: blur(3px);font-size:20px;">
                            {{msg}}
                        </p>
                    {% endfor %}
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
        </script>
    </body>
</html>